{% extends "base/consent.html" %}

{% block consent_text %}
<p>This research is being conducted by Dr Thomas Morgan, a researcher in the School of Human Evolution and Social Change at Arizona State University. We are conducting a research study to understand when and how people use different kinds of social information. </p>

<p> During the study, you will be assigned to be either player 1 or player 2. You will be shown a series of pictures and asked to judge whether there are more or fewer blue circles than yellow circles. Player 1 will be asked to tell player 2 about what they should answer. Player 2 will get to see what player 1 tells them. The study will take around 15 minutes and you will be paid $2.00 upon completing the study and an additional bonus of up to $2 depending on your score. </p>

<p>Your participation in this study is voluntary and you may stop your participation at any time. If you choose to withdraw from the study, there will be no penalty, however you will not be paid unless you complete the study.</p>

<p>There are no foreseeable risks or discomforts to your participation. If you are player 1, your responses in this study will be shown to one other participant (player 2) while the study is ongoing, but they will be anonymous. For all participants, while the study is running your responses will be associated with your Prolific id, this is in order to pay you a bonus when the study completes. However, once the study completes, we will replace your worker id with a random string such that your responses will be irreversibly de-identified. The results of this study may be used in reports, presentations, or publications, but (given the de-identification) your name and Prolific id will not be used. Should the study be published in an academic paper, de-identified data may be released as part of this.</p>

<p>If you have any questions concerning the research study, please contact the lead researcher, Thomas Morgan, at: thomas.j.h.morgan@asu.edu. If you have any questions about your rights as a participant in this research, or if you feel you have been placed at risk, you can contact the Chair of the Human Subjects Institutional Review Board, through the ASU Office of Research Integrity and Assurance, at (480) 965-6788.</p>

<p><b>To give your consent please click the “I agree” button below, otherwise please click the “No thanks” button which will return the study on Prolific.</b></p>
{% endblock consent_text %}

{% block consent_button %}
<button type="button" class="btn btn-primary btn-lg" id="consent" onClick="window.location='instructions/Instructions?{{query_string | safe}}';" style="float: left;">I agree</button>
{% endblock consent_button %}
            
{% block reject_button %}
<button type="button" class="btn btn-danger btn-lg" onClick="self.close();" style="float: right;">No thanks (Exit study)</button>
{% endblock reject_button %}
