{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Comprehension check</h1>

        <hr>

        <p>To check your understanding of the study, please answer the following questions. Make sure to check your answers carefully before clicking "continue".</p> 

        <div class = "row" style = "display:none">
                <div class = "col-md-12 text-center">
                    <h4>Player A's task is easier than player B's task?</h4>
                    <h5 id = "Task"><b>True</b></h5>
                </div>
        </div>

        <div class = "row" style = "display:none">
                <div class = "col-md-3 text-center"></div>
                <div class = "col-md-3 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Task', 'True')">TRUE</button>
                </div>
                <div class = "col-md-3 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Task', 'False')">FALSE</button>
                </div>
                <div class = "col-md-3 text-center"></div>
        </div> 

        <br>

        <div class = "row">
                <div class = "col-md-12 text-center">
                    <h4>Question 1) The correct answer for player A is the same as the correct answer for player B for each question?</h4>
                    <h5 id = "Answer"><b>...</b></h5>
                </div>
        </div>

        <div class = "row">
                <div class = "col-md-3 text-center"></div>
                <div class = "col-md-3 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Answer', 'True')">TRUE</button>
                </div>
                <div class = "col-md-3 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Answer', 'False')">FALSE</button>
                </div>
                <div class = "col-md-3 text-center"></div>
        </div> 

        <br>

        <div class = "row" style = "display:none">
                <div class = "col-md-12 text-center">
                    <h4>The advice left by player A may not be what they actually answered?</h4>
                    <h5 id = "Advice"><b>True</b></h4>
                </div>
        </div>

        <div class = "row" style = "display:none">
                <div class = "col-md-3 text-center"></div>
                <div class = "col-md-3 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Advice', 'True')">TRUE</button>
                </div>
                <div class = "col-md-3 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Advice', 'False')">FALSE</button>
                </div>
                <div class = "col-md-3 text-center"></div>
        </div>

        <br>

        <div class = "row">
                <div class = "col-md-12 text-center">
                    <h4>Question 2) How is the bonus payment distributed at the end of the game?</h4>
                    <h5 id = "Bonus"><b>...</b></h5>
                </div>
        </div>

        <div class = "row">
                <div class = "col-md-4 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Bonus', 'The bonus fund will be split evenly between both players.')">The bonus fund will be split evenly between both players.</button>
                </div>
                <div class = "col-md-4 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Bonus', 'The player who got the most questions right will receive 75% of the bonus fund. The other player will receive 25%.')">The player who got the most questions right will receive 75% of the bonus fund. The other player will receive 25%.</button>
                </div>
                <div class = "col-md-4 text-center">
                    <button type = "button" class = "btn btn-success" onClick="pingButton('Bonus', 'The player who got the most questions right will receive the bonus fund.')">The player who got the most questions right will receive the bonus fund.</button>
                </div>
        </div>

        <br>

        <h4 id = "warning" style = "display:none;color:red">One or more of your answers was incorrect. Check your answers carefully and try again. </h4>                                     

        <hr>

        <div class = "row">
            <div class="col-md-10"></div>
            <div class="col-md-2"> 
             <button type="button" class="btn btn-success btn-lg" onClick="attemptAdvance();">Continue</button>
             </div>
        </div>        
    </div>
{% endblock %}

{% block scripts %}
    <script>
//$('.btn').click(function() {
   // $(this).removeClass('btn-success').addClass('btn-light ');
   // setTimeout(function(){
    //    $('.btn').addClass('btn-success').removeClass('btn-light ');
   // }, 250);
//})
determineCondition();
dallinger.storage.set("been_to_comp", "Tried comprehension check");
</script>
{% endblock %}

{% block libs %}
{{ super() }}
<script src="/static/scripts/instructions.js" type="text/javascript"> </script>
{% endblock %}
