{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Further Instructions</h1>

        <hr>

        <div id = "First_instructions">

            <p>On each question, player 1 answers first and also leaves advice for player 2. Player 2 answers twice; first on their own, then a second time after receiving information from player 1.</p>

            <p id = "meta_instruct"></p>

        </div>

        <div id = "Second_instructions" style = "display:none;">

            <p id = "My_role"></p>

            <p>Whenever either player gets a question right, <span id = "Bonus_Instruct" style="font-weight: bold;"></span></p>

        </div>

        <hr>

        <div class = "row">
            <div class = "col-md-2">
                <button id = "Back" type="button" style = "display:none;" class="btn btn-success btn-lg" onClick="backButton2();">
                Back</button>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2"> 
                <button id = "Next" type="button" class="btn btn-success btn-lg" onClick="nextButton2();">
                Next</button> 
                <button id = "Advance" type="button" class="btn btn-success btn-lg" style = "display:none;" onClick="dallinger.goToPage('instructions/comprehension');">
                Advance study (I'm done reading)</button>                                                                                              
            </div>
        </div>        
   
    </div>
{% endblock %}

{% block scripts %}
    <script>
        startPage();
    </script>
{% endblock %}

{% block libs %}
{{ super() }}
<script src="/static/scripts/instructions.js" type="text/javascript"> </script>
{% endblock %}
