{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Instructions</h1>

        <hr>

        <div id = "One">

        <p>In this study, you will be shown a series of pictures like the one below. Your task is to guess the number of BLUE circles minus the number of YELLOW circles. You will enter your answer using a slider. If you thought there were 2 more BLUE circles than YELLOW circles, you would answer 2. Whereas, if you thought there were 2 <i>fewer</i> BLUE circles than YELLOW circles, you would answer -2.</p> 

        <p>You will only be given <strong>2 seconds</strong> to view each picture, so make sure you are ready before beginning each question.</p>

        <center><img src = "/static/images/Example.png" width="749px" height="434px"></center>

        </p>

        </div>

        <div id = "Two" style = "display:none;">

        <p>For example, here there are 17 BLUE circles and 33 YELLOW circles, so the correct answer is -16. 

        You do not need to be precise to get the question correct. Your answer will be counted as correct if it is within +3 or -3 of the correct answer. Here, answering -13, -14, -15, -16, -17, -18, or -19 would be marked as a correct answer. 

        <center><img src = "/static/images/Example.png" width="749px" height="434px"></center>
        </p>

        </div> 

        <div id = "Three" style = "display:none;">

        <p>You will complete the study in a pair with another participant. You will either be <strong>player 1</strong> or <strong>player 2</strong>.</p>

        <p>On each question, player 1 and player 2 will see the same image, so the correct answer will be the same for both of them.</p> 

        <p>You will see example questions on the next page.</p>

        </div>      

        <hr>

        <div class = "row">
            <div class = "col-md-2">
                <button id = "Back" type="button" class="btn btn-success btn-lg" style = "display:none" onClick="backButton();">
                Back</button>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2"> 
                <button id = "Next" type="button" class="btn btn-success btn-lg" onClick="nextButton();">
                Next</button>                                                                            
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        beginInstructions();
    </script>
{% endblock %}

{% block libs %}
{{ super() }}
<script src="/static/scripts/instructions.js" type="text/javascript"> </script>
{% endblock %}
