{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Further Instructions</h1>

        <hr>

        <div id = "First_instructions">

            <p>Player A will answer each question once. After entering their answer, player A will leave advice for player B about what they should answer.</p>

            <p style="font-weight: bold;">Player A does not have to be honest about their real answer.</p> 

            <p>Player B will answer each question twice. First, before receiving any information from player A, and then again after receiving information from player A. Sometimes this information will be the advice left by player A (advice), other times it will be accurate information showing player A’s actual answer (spied information). On some questions player B can choose whether to receive advice or spied information.</p>

            <p>After providing your answer(s), you will not be told whether your answer was correct or not.</p>

        </div>

        <div id = "Second_instructions" style = "display:none;">

            <p id = "My_role" style="font-weight: bold;"></p>

            <p>During the study, a bonus fund will be accumulated. On each question, $0.20 will be added to the bonus fund if both players answer correctly, $0.10 will be added to the bonus fund if just one player answers correctly, and nothing will be added if neither player answers correctly. At the end of the experiment, this bonus fund will be distributed between the players as follows (you will be asked to recall this information on the following page):</p>

            <p id = "Bonus" style="font-weight: bold;"></p> 

        </div>

        <hr>

        <div class = "row">
            <div class = "col-md-2">
                <button id = "Back" type="button" style = "display:none;" class="btn btn-success btn-lg" onClick="backButton2();">
                Back</button>
            </div>
            <div class="col-md-8"></div>
            <div class="col-md-2"> 
                <button id = "Next" type="button" class="btn btn-success btn-lg" onClick="nextButton2();">
                Next</button> 
                <button id = "Advance" type="button" class="btn btn-success btn-lg" style = "display:none;" onClick="dallinger.goToPage('instructions/comprehension');">
                Advance study (I'm done reading)</button>                                                                                              
            </div>
        </div>        
   
    </div>
{% endblock %}

{% block scripts %}
    <script>
        startPage();
    </script>
{% endblock %}

{% block libs %}
{{ super() }}
<script src="/static/scripts/instructions.js" type="text/javascript"> </script>
{% endblock %}
