{% extends "layout.html" %}

{% block body %}
    <div class="main_div">
        <h1>Woops</h1>

        <hr>

        <div>

        <p>We are very sorry. The experiment is currently full and there isn't space for you to join right now. Please click the button below and you will be sent straight to the submission form. There is no need to fill anything in on the submission form, just click submit and your submission will be marked as complete and you will receive the base payment.</p>

        <hr>

        <div class = "row">
            <div class="col-md-8"></div>
            <div class="col-md-2"> 
                <button id = "Okay" type="button" class="btn btn-success btn-lg" onClick="dallinger.goToPage('survey');">
                Next</button>                                                                            
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
{% endblock %}

{% block libs %}
{{ super() }}
<script src="/static/scripts/instructions.js" type="text/javascript"> </script>
{% endblock %}
